@{
    ViewData["Title"] = "Usuarios";
}

<div class="mt-5">

    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="float-end" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">Gestion de usuarios</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container p-5 border rounded">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" asp-area="" asp-controller="Usuarios" asp-action="Crear">Crear nuevo
                    usuario</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped mt-4">
                    <tbody>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Genero</th>
                            <th scope="col">Numero contacto</th>
                            <th scope="col">Acciones</th>
                        </tr>
                        <tr class="align-middle">
                            <td>1</td>
                            <td>Robinson</td>
                            <td>Cortes</td>
                            <td>M</td>
                            <td>30000000</td>
                            <td>
                                <div role="group">
                                    <a class="btn btn-danger" asp-area="" asp-controller="Usuarios"
                                        asp-action="Eliminar">Eliminar</a>
                                    <a class="btn btn-warning" asp-area="" asp-controller="Usuarios"
                                        asp-action="Editar">Editar</a>
                                    <a class="btn btn-primary" asp-area="" asp-controller="Usuarios"
                                        asp-action="Detalles">Detalles</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>