@{
    ViewData["Title"] = "Detalles";
}

<div class="mt-5">

    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="float-start" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Libros" asp-action="Index">volver</a>
                        </li>
                    </ol>
                </nav>
                <nav class="float-end" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">Gestion de libros</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container p-5 border rounded">
        <div class="row">
            <div class="col">
                    <p><strong>Id: </strong>1</p>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="">
                    <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/12/9c/129cd2afb82c4da11555394baeedcb54.jpg"
                        style="height: 300px;" alt="Portada" />
                </div>
            </div>
            <div class="col-8">
                <div class="p-4">
                    <h1 class="display-3">El Hobbit</h1>
                    <h4>Resumen</h4>
                    <p>El hobbit Bilbo Bolsón vive una vida tranquila hasta que el mago Gandalf aparece y le encomienda
                        una misión: unirse a un grupo de enanos para recuperar un tesoro que les pertenece. El tesoro
                        está guardado por un dragón en el reino de Erebor, que antes pertenecía a los enanos. Durante el
                        viaje, Bilbo y los enanos tendrán que enfrentarse a orcos y otros peligros, como Gollum y un
                        anillo de oro que tiene un poder extraordinario.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="p-3">
                    <p><strong>Autor: </strong>J.R.R. Tolkien</p>
                </div>
            </div>
            <div class="col-2">
                <div class="p-3">
                    <p><strong>Editorial: </strong>Minotauro</p>
                </div>
            </div>
            <div class="col-2">
                <div class="p-3">
                    <p><strong>Genero: </strong>Fantasía</p>
                </div>
            </div>
            <div class="col-2">
                <div class="p-3">
                    <p><strong>Año: </strong>2002</p>
                </div>
            </div>
        </div>

        <div class="row text-center mt-3">
            <div class="col">
                <a class="btn btn-primary" asp-area="" asp-controller="Libros" asp-action="Index">Ver lista de
                    libros</a>
            </div>
        </div>

    </div>
</div>
