@{
    ViewData["Title"] = "Editar libro";
}

<div class="mt-5">

    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="float-start" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Libros" asp-action="Index">volver</a>
                        </li>
                    </ol>
                </nav>
                <nav class="float-end" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">Gestion de libros</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container p-5 border rounded">
        <div class="row col-6 mx-auto">
            <form>
                <h2 class="text-center">Editar libro</h2>
                <div class="mb-3">
                    <label for="inputTitulo" class="form-label">Título</label>
                    <input value="El Hobbit" type="text" class="form-control" id="inputTitulo">
                </div>
                <div class="mb-3">
                    <label for="inputResumen" class="form-label">Resumen</label>
                    <textarea rows="6" type="text" class="form-control"
                        id="inputResumen">El hobbit Bilbo Bolsón vive una vida tranquila hasta que el mago Gandalf aparece y le encomienda una misión: unirse a un grupo de enanos para recuperar un tesoro que les pertenece. El tesoro está guardado por un dragón en el reino de Erebor, que antes pertenecía a los enanos. Durante el viaje, Bilbo y los enanos tendrán que enfrentarse a orcos y otros peligros, como Gollum y un anillo de oro que tiene un poder extraordinario.</textarea>
                </div>
                <div class="mb-3">
                    <label for="inputAutor" class="form-label">Autor</label>
                    <input value="J.R.R. Tolkien" type="text" class="form-control" id="inputAutor">
                </div>
                <div class="mb-3">
                    <label for="inputEditorial" class="form-label">Editorial</label>
                    <input value="Minotauro" type="text" class="form-control" id="inputEditorial">
                </div>
                <div class="mb-3">
                    <label for="inputGenero" class="form-label">Genero</label>
                    <input value="Fantasía" type="text" class="form-control" id="inputGenero">
                </div>
                <div class="mb-3">
                    <label for="inputImgUrl" class="form-label">Url o ruta de la imagen</label>
                    <input
                        value="https://images.cdn3.buscalibre.com/fit-in/360x360/12/9c/129cd2afb82c4da11555394baeedcb54.jpg"
                        type="url" class="form-control" id="inputImgUrl">
                </div>
                <div class="mb-3">
                    <label for="inputYear" class="form-label">Año de publicación</label>
                    <input value="2002-01-01" type="date" class="form-control" id="inputYear">
                </div>
                <a class="btn btn-primary mt-3" asp-area="" asp-controller="Libros" asp-action="Actualizar">Editar libro</a>
            </form>
        </div>
    </div>
</div>