@{
    ViewData["Title"] = "Detalles";
}


<div class="mt-5">

    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="float-start" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Empleados" asp-action="Index">volver</a>
                        </li>
                    </ol>
                </nav>
                <nav class="float-end" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">Gestion de empleados</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container p-5 border rounded text-center">
        <div class="row">
            @* <div class="col-3">
                <div class="p-3">
                    <img src="https://images.cdn1.buscalibre.com/fit-in/360x360/47/5a/475a983f7abdaf0f9b03c4ddbb26d790.jpg"
                        style="height: 200px;" alt="Portada" />
                </div>
            </div>
            <div class="col-3">
                <div class="p-3">
                    <h1>El Hobbit</h1>
                </div>
            </div>
            <div class="col-3">

            </div>
            <div class="col-3">

            </div>
        </div> *@

        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nombres:</td>
                            <td>Robinson</td>
                            <td>Correo:</td>
                            <td>andres@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Apellidos:</td>
                            <td>Cortes</td>
                            <td>Genero:</td>
                            <td>M</td>
                        </tr>
                        <tr>
                            <td>Edad:</td>
                            <td>30</td>
                            <td>Numero contacto: </td>
                            <td>300 000 0000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
                <a class="btn btn-primary" asp-area="" asp-controller="Empleados" asp-action="Index">Ver lista de
                    empleados</a>
            </div>
        </div>

    </div>
</div>